* {
}
.createBodySection {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
}
.tenderViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--appGrey);
  border-radius: 20px;
  height: 800px;
  width: 100%;
}
.tenderView__Header {
  text-align: center;
  margin-bottom: 20px;
}
