* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--backgroundColor);
}
.bodySection {
  display: flex;
  margin: 15px 0px;
}

.mainSection {
  height: 150vh;
  border-radius: 20px;
  display: flex;
  background-color: var(--appGrey);
}
