.tab-bar {
  display: flex;
  margin: 10px 0px;
  width: 75vw;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.tab.active {
  background-color: #b2e7e8;
  color: #406a8b;
}
.tabHeader {
  width: 75vw;
}
