@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
* {
  font-family: "Nunito", sans-serif;
}
:root {
  --appBlue: #406a8b;
  --appLightBlue: #b2e7e8;
  --appGreen: #8fb9aa;
  --appOrange: #f2d096;
  --appRed: #ed8975;
  --app: #ed8975;
  --appTextWhite: #d5d5d5;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--appBlue);
}
.logo {
  margin: 25px;
  font-weight: 800;
  color: var(--appTextWhite);
}
.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 25px;
}
.Nav__item {
  text-decoration: none;
  color: var(--appTextWhite);
  margin: 10px;
}
.profile {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.profile__image {
  margin: 0px 9px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
}
